nav{

    width: 100%;
    height: 50px;
    background: black;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: sticky;
    top: 0;
    z-index: 5;

}

nav ul{

    display: flex;
    margin: 0;
    padding: 0 100px;
    float: left;

}

nav ul li{

    list-style: none;
    margin: 0;
    color: #d5dbe0;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

nav ul li a{

    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;

}

nav:hover ul:hover li:hover a:hover{

    background-color: rgba(227, 191, 10, 0.876);

} 


body {
    margin: 0;
    font-family: "Bungee", sans-serif;
}

#hero {
    background-image: url(images/maksim-larin-ezdrvzA1hZw-unsplash.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d5dbe0;
    font-size: 40px;  
    text-shadow: 5px 5px 12px black;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: #dad7cd
}

.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 700px;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.container-img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-bottom: 2px solid black;
}

.buy-btn {
    width: 100px;
    margin: 10px auto 0px auto;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
}
